@model KGMIPiPK.Courses

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>
        <a class="icon" asp-action="Index"><i class="zi-arrow-thin-left"></i></a>
        <a class="btn btn-outline-dark float-right" asp-action="Edit" asp-route-id="@Model.Nom"> Редактировать </a>
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Курс
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            с
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class="col-sm-2">
            по
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class="col-sm-2">
            План
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan)
        </dd>
        <dt class="col-sm-2">
            Источник финансирования
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oplata)
        </dd>
        <dt class="col-sm-2">
            Стоимость обучения
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IstFinNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            Закрыто
        </dt>
        <dd class="col-sm-10">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Graduated" name="Graduated" checked=@Model.Graduated disabled />
                <label class="custom-control-label" for="Graduated"></label>
            </div>
        </dd>
    </dl>
</div>

<hr />
<div id="app"></div>

@section scripts {
    <script src="~/dist/groups.js"></script>
    <script>
        groups.run(@Json.Serialize(ViewBag.init));
    </script>
}