@model IEnumerable<KGMIPiPK.Courses>

@{
    ViewData["Title"] = "Курсы";
}


<h2>
    Курсы
    <a class="btn btn-outline-success float-right"  asp-action="Create">Новый курс</a>
</h2>

<table class="table table-borderless table-striped table-hover">
    <thead>
        <tr>
            <th>Курс</th>
            <th>с</th>
            <th>по</th>
            <th class="text-center">План </th>
            <th>Фин.</th>
            <th class="text-center">Стоим.обуч.</th>
            <th class="text-center">Закрыто </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td  class="text-center">
                    @Html.DisplayFor(modelItem => item.Plan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IstFinNavigation.Name)
                </td>
                <td  class="text-center">
                    @Html.DisplayFor(modelItem => item.Oplata)
                </td>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="Graduated" name="Graduated" checked=@item.Graduated disabled/>
                        <label class="custom-control-label" for="Graduated"></label>
                    </div>
                </td>
                <td>
                    <a class="icon" asp-action="Details" asp-route-id="@item.Nom"><i class="zi-edit-pencil"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>