@model KGMIPiPK.Lextures

@{
    ViewData["Title"] = "Занятия";
}

<div>
    <h4>
        <a class="icon" asp-action="Index"><i class="zi-arrow-thin-left"></i></a>
        <a class="btn btn-outline-dark float-right" asp-action="Edit" asp-route-id="@Model.Nom"> Редактировать </a>
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Дата
        </dt>
        <dd class="col-sm-10">
            @Model.Day.ToString("dd'/'MM'/'yyyy")
        </dd>
        <dt class="col-sm-2">
            Часов
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class="col-sm-2">
            Группа
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Group.Group
        </dd>
        <dt class="col-sm-2">
            Преподаватель
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherNavigation.Fio)
        </dd>
        <dt class="col-sm-2">
            Тема
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TemaNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            Вид занятия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VidZanNavigation.Name)
        </dd>
    </dl>
</div>

<hr />
<div id="app"></div>

@section scripts {
    <script src="~/dist/lextures.js"></script>
    <script>
        lextures.run(@Json.Serialize(ViewBag.init));
    </script>
}