@model IEnumerable<KGMIPiPK.Groups>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Select)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Select)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Code">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
