@model KGMIPiPK.Teachers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teachers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentNavigation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacultyNavigation.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Nom">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
